.counter-table {
  display: flex;
  justify-content: center;
  width: auto;
  margin-bottom: 20px;
}

.counter-table div {
  text-align: center;
  border: 1px solid #000;
  padding: 10px 20px;
  margin: 0 10px;
}

.main-counter {
  font-size: 48px;
  font-weight: bold;
  margin: 20px 0;
  text-align: center;
}

.button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 15px 30px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.button:hover {
  background-color: #555;
}